.navbar{
    margin-bottom:0;
    a{
        color:set-text-color($main-color)!important;
    }
    .fab{font-size: 18px;}
    
    }

.showcase{
    background: url(../img/showcase1.jpg) no-repeat 0 -200px;
    height: 600px;
    padding:30px;

    .container1{
        background:#fff;
        opacity:0.7;
        padding:20px 30px 30px 30px;
    }
    .container{
        padding: 0 0;
        text-align: center;
        color: set-text-color($main-color);
    
        .btn-primary{
            background:darken($main-color,10%);
            // color:set-text-color($main-color) !important;
        }
    }
    h1{
        font-size:60px;
    }
}





.section-a{
    padding:30px 0;
text-align: center;
background: $main-color;
color: set-text-color($main-color)
}

.fab, .fas{
    font-size: $icon-size;
}

.section-b{
background:#E2e8ef;
padding:30px 0;
    width:100%;

}

.panel-heading h4{
    color: set-text-color($main-color) 
}



.title-bar{
    background: url(../img/showcase1.jpg) no-repeat 0 -300px;
    padding-bottom:10px;
    border-bottom:4px solid $main-color;
}
.main{
    margin-top:30px;
}

.list-group-item active{
    color: set-text-color($main-color);
}

footer{
    padding:30px 0;
    background: darken($main-color,10%);
    color: set-text-color($main-color);
}